# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Generated Gradle wrapper binary recreated from base64 when needed
gradle/wrapper/gradle-wrapper.jar
